body, html {
  min-height: 100%;
  padding: 0;
  margin: 0; }

body {
  background-color: #1c1527;
  color: #eee;
  text-align: center;
  line-height: 1.5;
  font-size: 1em;
  font-family: sans-serif; }

header {
  background-image: linear-gradient(170deg, rgba(0, 255, 246, 0.5) 25%, transparent 55%), linear-gradient(195deg, rgba(255, 252, 0, 0.7) 25%, transparent 55%), linear-gradient(190deg, rgba(0, 0, 0, 0.1) 50%, transparent 30%), linear-gradient(160deg, rgba(0, 0, 0, 0.3) 30%, transparent 30%), linear-gradient(250deg, rgba(0, 0, 0, 0.3) 53%, transparent 50%);
  text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.7);
  overflow: hidden; }

.main-title {
  margin: .2em;
  font-size: 300%; }
  @media only screen and (min-width: 60em) {
    .main-title {
      font-size: 850%; } }

.sub-titles {
  margin-bottom: 3em;
  font-size: .9em; }
  @media only screen and (min-width: 60em) {
    .sub-titles {
      font-size: 1em; } }

.sub-title {
  font-size: 200%; }

.sub-title, .contact-options {
  display: inline-block;
  margin: 0.5rem 3rem;
  vertical-align: middle; }

.contact-option {
  display: inline-block;
  font-size: 0;
  margin: 0 .2rem; }

.contact-link {
  color: currentColor;
  text-decoration: none; }

.contact-icon {
  vertical-align: middle;
  width: 2.5em;
  height: 2.5em;
  display: inline-block;
  font-size: initial; }

svg {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  fill: transparent;
  stroke-width: 14px;
  stroke: #eee; }

.contact-link:hover > .contact-icon > svg {
  fill: #eee; }

.navbar {
  padding: 1em;
  background-color: #1c1527;
  box-shadow: 0 0 3em 1.5em #1c1527; }

.nav-link {
  display: inline-block;
  margin: .7em .8em;
  padding: .5em .7em;
  color: #eee;
  text-decoration: none;
  position: relative; }
  .nav-link:before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    transform: skew(-20deg) scale(1.1);
    border: .15em solid currentcolor;
    transition: box-shadow 0.2s; }
  .nav-link:hover {
    color: #f8f3e8; }
    .nav-link:hover:before {
      box-shadow: 0 0 0 5px #1c1527, 0 0 0 7px #efbd58; }

.section-title {
  padding: 0 1em;
  line-height: 1;
    line-height-color: #72a182; }
  @media only screen and (min-width: 60em) {
    .section-title {
      text-align: right;
      font-size: 6em;
      color: #1c1527;
      text-shadow: 2px 2px #72a182, -2px -2px #72a182; } }

.copyright {
  font-size: .9em; }

ul {
  padding: 0;
  list-style-type: none; }

section {
  margin: 3em 1em; }

#about-content {
  display: inline-block;
  position: relative; }

#name-tip {
  display: inline-block;
  position: relative;
  padding: .7em .3em;
  border-radius: 0.6em;
  margin-bottom: 2em;
  min-height: 3em;
  line-height: 3em; }
  #name-tip:before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    box-shadow: -0.6em 0 0em 0em rgba(238, 238, 238, 0.1), 0.6em 0 0em 0em rgba(238, 238, 238, 0.1);
    border-radius: 1.5em; }
  @media only screen and (min-width: 60em) {
    #name-tip {
      padding: .7em 1em; } }

code {
  white-space: nowrap;
  font-size: 1.5em;
  font-weight: bold; }

#about-text {
  display: inline-block;
  padding: 1.3em .2em;
  margin: 0;
  max-width: 52em; }
  @media only screen and (min-width: 60em) {
    #about-text {
      padding: 1.3em 2em; } }

.about-item {
  margin: 2em 0;
  text-align: left; }
  @media only screen and (min-width: 60em) {
    .about-item {
      margin: 2em 1em; } }

#tagline {
  font-variant: small-caps;
  font-size: 1.3em;
  margin: .8em .2em 0; }
  @media only screen and (min-width: 60em) {
    #tagline {
      margin: .8em 1em 0;
      font-size: 2em; } }

.about-title {
  font-size: 1.4em;
  letter-spacing: .05em;
  white-space: nowrap;
  color: #efbd58;
  font-weight: bold; }
  @media only screen and (min-width: 60em) {
    .about-title {
      font-size: 1.5em; } }

.contact-option-big {
  display: inline-block;
  margin: 1em .5em;
  background-color: rgba(238, 238, 238, 0.2);
  border-radius: .3em; }
  @media only screen and (min-width: 60em) {
    .contact-option-big {
      margin: 1em 2em; } }
  .contact-option-big:hover {
    background-color: rgba(238, 238, 238, 0.4); }

.contact-link-big {
  color: #eee;
  font-size: 2em;
  padding: .1em .5em;
  display: block;
  display: flex;
  min-width: 6em;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (min-width: 60em) {
    .contact-link-big {
      min-width: 9em; } }

.contact-icon-big {
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle; }
  @media only screen and (min-width: 60em) {
    .contact-icon-big {
      width: 4em;
      height: 4em; } }

@media only screen and (min-width: 60em) {
  #projects-list {
    padding: 0 5em; } }

.project-panel {
  width: 100%;
  margin: 0 0 3em;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.2s; }
  .project-panel:hover {
    box-shadow: 0 0 0em 0.6em #1c1527, 0 0 0em 0.7em #515151; }

.project-link {
  display: block;
  border: 0.3em solid rgba(81, 81, 81, 0.5);
  transition: border-color 0.2s;
  text-decoration: none; }
  @media only screen and (min-width: 60em) {
    .project-link {
      border-width: 1em; } }
  .project-link:hover {
    border-color: #594e62; }

.project-thumb {
  max-width: 100%; }

.panel-content {
  padding: .5em 1em;
  color: rgba(238, 238, 238, 0.2);
  background-color: currentColor;
  box-shadow: 0 0 4em 3em currentColor; }
  @media only screen and (min-width: 60em) {
    .panel-content {
      box-shadow: 0 0 4em 5em currentColor; } }

h3 {
  margin: 0;
  color: #eee;
  text-decoration: underline; }
  @media only screen and (min-width: 60em) {
    h3 {
      line-height: 1;
      padding: .4em; } }

.external_icon {
  height: 1em;
  width: 1em;
  margin-left: .4em;
  fill: #eee;
  stroke: transparent;
  vertical-align: middle; }
